@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: cursedfont;
}
body {
    margin: 0;
    padding: 50px;
    background-color: black;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    width: 575px;
    height: 385px;
    margin: auto;
    border: 5px solid #EEEEEE;
    border-radius: 15px;
}

#home-scores {
    height: 120px;
    width: 155px;
    background-color: #080001;
    border-radius: 5px;
    color: #F94F6D;
    font-family: cursedfont;
    font-weight: 400px;
    font-size: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#guest-scores {
    height: 120px;
    width: 155px;
    background-color: #080001;
    border-radius: 5px;
    color: #F94F6D;
    font-family: cursedfont;
    font-weight: 400px;
    font-size: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h3 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: #EEEEEE;
    margin: 35px 0 0 0;
}
    
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.guest {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 9px;
}

button {
    background-color: #1B244A;
    border: 2px solid #9AABD8;
    color: #9AABD8;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    font-family: cursedfont;
    font-size: 18px;
}

.reset-btn {
    width: 90px;
}